

#page {
  display: flex;
  height: 50vh;
  flex-direction: column;
}
#page .content {
  height: 30px;
  flex-grow: 1;
}
#page footer {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#page footer h3 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: -0.02em;
}

footer {
  height: 50vh;
  min-height: 300px;
  background: #fff;
  position: relative;
}
footer .container {
  position: relative;
  z-index: 2;
}
footer .wave {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 20%;
  z-index: 1;
  overflow: hidden;
}
footer .wave:after {
  content: "";
  display: block;
  background: #E4BDB5;
  width: 100%;
  height: 100%;
}
footer .wave svg {
  vertical-align: top;
  margin-bottom: -5px;
  width: 800%;
  height: auto;
  animation: footer-wave 20s linear infinite;
}
footer .wave svg * {
  fill: #51D1F6;
}


@keyframes footer-wave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}